body {
  background-image: url(images/grass.png);
  background-color: green;
  background-size: 32px;
}

#player {
  width: 32px;
  position: absolute;
}

#farmhouse {
  width: 328px;
  position: absolute;
  left: 30%;
  top: 50%;
}
