body {
  background-image: url(images/grass.png);
  background-color: green;
  background-size: 32px;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: absolute;
}

#player {
  width: 32px;
}

#farmhouse {
  width: 328px;
  position: absolute;
  left: 30%;
  top: 50%;
  height: 228px;
}

#farmhouseimg {
  width: 100%;
}

#homedoor {
  bottom: 0;
  right: 85px;
  width: 32px;
}
