body {
  background-image: url(images/grass.png);
  background-color: green;
  background-size: 32px;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: absolute;
}

#player {
  width: 32px;
  position: absolute;
  z-index: 9999;
}

#farmhouse {
  width: 328px;
  position: absolute;
  left: 30%;
  top: 50%;
  height: 228px;
}

#farmhouseimg {
  width: 100%;
}

#homedoor {
  bottom: -1px;
  right: 85px;
  width: 32px;
}

.grass {
  background-image: url(images/grass.png);
}

.wall {
  background-image: url(https://opengameart.org/sites/default/files/styles/medium/public/sample4.png);
}
